@model Fireteam.Models.GroupUser

@{
    ViewData["Title"] = "Edit";
}

    <div class="row">
    <div class="col-md-8">
    <div class="card">
    <div class="card-header card-header-icon" data-background-color="rose">
    <i class="material-icons">dashboard</i>
    </div>
    <div class="card-content">
    <h4 class="card-title">Edit GroupUser -
    <small class="category"></small>
    </h4>
    <form asp-action="Edit">
    <div class="form-horizontal">
    <h4>GroupUser</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
                <div class="form-group">
                <label asp-for="GroupID" class="control-label col-md-2"></label>
                <div class="col-md-10">
                <select asp-for="GroupID" class="form-control" asp-items="ViewBag.GroupID"></select>
                <span asp-validation-for="GroupID" class="text-danger"></span>
                </div>
                </div>
                <div class="form-group">
                <label asp-for="UserID" class="control-label col-md-2"></label>
                <div class="col-md-10">
                <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID"></select>
                <span asp-validation-for="UserID" class="text-danger"></span>
                </div>
                </div>
                <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                <input asp-for="IsGroupLeadership" />
                <label asp-for="IsGroupLeadership"></label>
                </div>
                </div>
                </div>
                <div class="form-group">
                <label asp-for="Created" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
                </div>
                </div>
                <div class="form-group">
                <label asp-for="LastModified" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                <input asp-for="LastModified" class="form-control" />
                <span asp-validation-for="LastModified" class="text-danger"></span>
                </div>
                </div>
                <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                <input asp-for="IsDeleted" />
                <label asp-for="IsDeleted"></label>
                </div>
                </div>
                </div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</div>
</div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
    
</div>
</div>
</div>
</div>

