@{
    ViewData["Title"] = "Locked out";
    Layout = "_MD_No_Bars_Layout";
}

<header>
    <h1 class="text-danger">Locked out.</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
